*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    max-width: 100%;
}

body, main {
    width: 100%;
    max-width: 100%;

}

a {
    text-decoration: none;
}

.titulo {
    font-size: 2.25rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
    line-height: 2.625rem;
    margin-left: 5%;
}

.parrafo {
    color: $dark-blue;
    font-family: "IBM Plex Mono", sans-serif;
}


.button {
    display: inline-block;
    background-color: $buttons;
    color: $dark-blue;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-weight: 500;
    transition: color 0.4s linear;
    white-space: nowrap;
}

.button:hover {
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFF;
    cursor: pointer;
}

.button:active {
    text-decoration: line-through;
}

@media screen and (min-width: 600px) and (max-width: 992px) {

    .titulo {
        div {
            display: inline;
        }
    }
}

@media screen and (min-width: 992px) {

    .titulo {
        font-size: 3rem;
        line-height: 3.875rem;
        margin-left: 13.9%;

        div {
            display: inline;
        }
    }
}

@media screen and (min-width: 992px) {

    .button {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}

