#de_donde {
    width: 100%;
    max-width: 100%;
    margin-bottom: 54px;
    position: relative;
    top: -67.50px;
    margin-bottom: -13.50px;

    img {
        display: block;
        width: 90%;
        max-width: 457.6px;
        margin: 0 auto 27px auto;        
    }

    .titulo span {
        display: block;
    }

    .parrafo {
        font-size: 0.875rem;
        line-height: 1.375rem;
        margin-left: 5%;
        width: 90%;
    }

    .parrafo:first-of-type {
        margin-top: 8px;
    }
}


@media screen and (min-width: 650px) and (max-width: 992px) {

    #de_donde{

        top: -27.50px;
        margin-bottom: 27.50px;

        .titulo {

            span {
                display: inline;
            }
        }
    }
}


@media screen and (min-width: 992px) {
    #de_donde {
        width: auto;
        display: flex;
        justify-content: space-between;
        margin: 0 17.8% -104.6px 13.9%;
        top: -168.6px;
        position: relative;

        img {
            top: 0;
            margin: 0;
        }

        #contenedor_de_donde {
            width: 464px;
            position: relative;
            top: 215px;
            height: 100%;

            
            .parrafo, .titulo {
                margin: 0;
            }
    
            .titulo {
                margin-bottom: 1.5rem;
                
                span {
                display: inline;
                }
            }
        }
    } 
}


@media screen and (min-width: 992px) and (max-width: 1439px) {

    #de_donde{
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media screen and (min-width: 2300px) {

    #de_donde{
        top: -104.6px;
        margin-bottom: -40.6px;
    }
}