#footer {

    .parrafo {
        margin: 24px 0 16px 0;
        text-align: center;
        font-size: 0.875rem;
    }

    #icons{
        display: flex;
        justify-content: space-between;
        margin: 0 14.1% 31px 14.1%;

        .fab {
            color: $dark-blue;
            font-size: 1rem;
            line-height: 1.75rem;
        }
    }
}


@media screen and (min-width: 992px) {
    
    #footer { 
        display: flex;
        justify-content: space-between;

        .parrafo, #icons {
            margin: 36px 0 31px 0;
        }

        .parrafo {
            margin-left: 6.9%;
            font-size: 1rem;
        }

        #icons {
            margin-right: 6.9%;
            width: 16.5%;

            .fab {
                font-size: 1.125rem;
            }
        }
    }    
}