*, html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 100%;
}

body, main {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.titulo {
  font-size: 2.25rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  line-height: 2.625rem;
  margin-left: 5%;
}

.parrafo {
  color: #060A24;
  font-family: "IBM Plex Mono", sans-serif;
}

.button {
  display: inline-block;
  background-color: #00F3BB;
  color: #060A24;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-weight: 500;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
  white-space: nowrap;
}

.button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFF;
  cursor: pointer;
}

.button:active {
  text-decoration: line-through;
}

@media screen and (min-width: 992px) {
  .titulo {
    font-size: 3rem;
    line-height: 3.875rem;
    margin-left: 13.9%;
  }
}

@media screen and (min-width: 992px) {
  .button {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "IBM Plex Mono", sans-serif;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header #navbar a {
  margin-left: 5%;
}

header #navbar a img {
  width: 24px;
  height: 24px;
}

header #navbar #checkbox {
  display: none;
}

header #navbar #hamburguesa {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 5.9%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

header #navbar #cerrar {
  opacity: 0%;
  position: absolute;
  right: 5.9%;
  font-size: 1rem;
  line-height: 24px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

header #navbar ul {
  visibility: hidden;
  /*display: flex;
            flex-direction: column;
            justify-content: space-evenly;*/
  opacity: 0%;
  list-style: none;
  position: absolute;
  top: 45px;
  height: 14rem;
  width: 100%;
  background-color: #0000EC;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

header #navbar ul li a {
  font-size: 1rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin-left: 5%;
  color: #FFF;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

header #navbar ul li a:hover {
  color: #00F3BB;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  cursor: pointer;
}

header #navbar ul li a:active {
  color: #060A24;
  opacity: 56%;
}

header #navbar input[type="checkbox"]:checked ~ #hamburguesa {
  opacity: 0%;
}

header #navbar input[type="checkbox"]:checked ~ #cerrar {
  display: inline;
  opacity: 100%;
}

header #navbar input[type="checkbox"]:checked ~ ul {
  opacity: 100%;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 470px) and (max-width: 992px) {
  header #navbar ul {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 80px;
  }
  header #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 6.9% 0 6.9%;
  }
  header #navbar a {
    margin-left: 0;
  }
  header #navbar a img {
    width: 36px;
    height: 36px;
  }
  header #navbar #hamburguesa, header #navbar #cerrar, header #navbar #checkbox {
    display: none;
  }
  header #navbar input[type="checkbox"]:checked ~ #cerrar, header #navbar input[type="checkbox"]:checked ~ #hamburguesa {
    display: none;
  }
  header #navbar ul, header #navbar input[type="checkbox"]:checked ~ ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 0;
    height: 28px;
    width: auto;
    background-color: #FFF;
    margin-left: 0;
    opacity: 100%;
    visibility: visible;
  }
  header #navbar ul li a {
    color: #060A24;
    margin: 0 3rem 0 0;
  }
  header #navbar ul li:last-of-type a {
    margin-right: 0;
  }
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 29px;
}

#intro .titulo {
  color: #060A24;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#intro .titulo div:nth-of-type(1) span {
  text-decoration: line-through;
}

#intro #parrafo_mobile {
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 90%;
  margin-top: 16px;
}

#intro #parrafo_desktop {
  display: none;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 50%;
}

#intro .button {
  width: 90%;
  margin: 36px 0 24px 0;
  padding: 13px 0;
}

@media screen and (min-width: 934px) and (max-width: 992px) {
  #intro .button {
    margin-top: 57px;
  }
}

@media screen and (min-width: 992px) {
  #intro {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 13.9%;
    margin-top: 120px;
  }
  #intro .titulo {
    font-size: 4rem;
    line-height: 5.25rem;
    margin-left: 0;
  }
  #intro .titulo div {
    display: inline;
  }
  #intro .titulo div:nth-of-type(2) span {
    color: #0000EC;
  }
  #intro #parrafo_mobile {
    display: none;
  }
  #intro #parrafo_desktop {
    display: block;
  }
  #intro .button {
    width: 15.7%;
    margin: 56px 0 5px 0;
    padding: 16px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #intro .button {
    width: 20%;
  }
}

#episodios {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*width: 100%;
    max-width: 100%;*/
  height: 1203.50px;
}

#episodios .skew {
  background: linear-gradient(225deg, #0000FF, #0000A3);
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

#episodios #contenido_episodios {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#episodios #contenido_episodios .titulo {
  color: #FFF;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 64px 0 21px 5%;
}

#episodios #contenido_episodios #contenedor_episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#episodios #contenido_episodios #contenedor_episodios iframe {
  width: 93.1%;
  height: 232px;
  margin-bottom: 11px;
}

#episodios #contenido_episodios #contenedor_episodios iframe:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  #episodios #contenido_episodios .titulo {
    margin-top: 100px;
  }
  #episodios + img {
    top: -27.50px;
  }
}

@media screen and (min-width: 992px) {
  #episodios {
    height: 1042.60px;
  }
  #episodios .skew {
    background: -webkit-gradient(linear, right top, left top, from(225deg), color-stop(#0000FF), to(#0000A3));
    background: linear-gradient(to left, 225deg, #0000FF, #0000A3);
    height: 87.5%;
  }
  #episodios #contenido_episodios {
    height: 100%;
  }
  #episodios #contenido_episodios .titulo {
    margin: 186px auto 26px 13.9%;
  }
  #episodios #contenido_episodios #contenedor_episodios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 64px;
  }
  #episodios #contenido_episodios #contenedor_episodios iframe {
    width: 40.6%;
    margin: 0;
  }
  #episodios #contenido_episodios #contenedor_episodios iframe:nth-of-type(2n+1) {
    margin-right: 72px;
  }
  #episodios #contenido_episodios #contenedor_episodios iframe:nth-of-type(1), #episodios #contenido_episodios #contenedor_episodios iframe:nth-of-type(2) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 2300px) {
  #episodios #contenido_episodios .titulo {
    margin-top: 250px;
  }
}

#de_donde {
  width: 100%;
  max-width: 100%;
  margin-bottom: 54px;
}

#de_donde img {
  display: block;
  width: 90%;
  max-width: 457.6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -67.50px;
  margin-bottom: -40.50px;
}

#de_donde .parrafo {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-left: 5%;
  width: 90%;
}

#de_donde .parrafo:first-of-type {
  margin-top: 8px;
}

@media screen and (min-width: 992px) {
  #de_donde {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 17.8% -104.6px 13.9%;
    top: -168.6px;
    position: relative;
  }
  #de_donde img {
    top: 0;
    margin: 0;
  }
  #de_donde #contenedor_de_donde {
    width: 464px;
    position: relative;
    top: 215px;
    height: 100%;
  }
  #de_donde #contenedor_de_donde .parrafo, #de_donde #contenedor_de_donde .titulo {
    margin: 0;
  }
  #de_donde #contenedor_de_donde .titulo {
    margin-bottom: 1.5rem;
  }
  #de_donde #contenedor_de_donde .titulo div {
    display: inline;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  #de_donde img {
    top: -27.50px;
    margin-bottom: 0;
  }
}

/*@media screen and (min-width: 1800px) {

    #de_donde{
        margin-bottom: -150.4px;
    }
}*/
@media screen and (min-width: 2300px) {
  #de_donde {
    top: -104.6px;
    margin-bottom: -40.6px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  #de_donde {
    margin-left: 10%;
    margin-right: 10%;
  }
}

#invitados {
  margin-bottom: 48px;
}

#invitados .titulo {
  margin-bottom: 14px;
}

#invitados #contenedor_imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#invitados #contenedor_imagenes img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  #invitados {
    margin-bottom: 64px;
  }
  #invitados .titulo {
    margin-bottom: 36px;
  }
  #invitados #contenedor_imagenes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #invitados #contenedor_imagenes img {
    width: calc(100%/3);
    max-width: calc(100%/3);
    height: 364px;
    margin: 0;
  }
}

#temas .titulo {
  margin-bottom: 37px;
}

#temas #contenedor_iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#temas #contenedor_iconos .figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 65px;
}

#temas #contenedor_iconos .figure .icono {
  margin-bottom: 13px;
}

#temas #contenedor_iconos .figure figcaption {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  color: #060A24;
  font-weight: 600;
  line-height: 2rem;
  width: 90%;
}

#temas #contenedor_iconos .figure:last-child {
  margin-bottom: 42px;
}

@media screen and (min-width: 992px) {
  #temas .titulo {
    margin-bottom: 69px;
  }
  #temas #contenedor_iconos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 13.9% 0 13.9%;
  }
  #temas #contenedor_iconos .figure .icono {
    margin-bottom: 29px;
  }
  #temas #contenedor_iconos .figure figcaption {
    width: 220px;
  }
  #temas #contenedor_iconos .figure:nth-of-type(2n+1) {
    margin-bottom: 66px;
  }
  #temas #contenedor_iconos .figure:nth-of-type(2n+2) {
    margin-bottom: 34px;
  }
}

#novedades {
  width: 100%;
  height: 341px;
  position: relative;
}

#novedades .skew {
  background: linear-gradient(225deg, #0000FF, #0000A3);
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

#novedades #contenedor_novedades {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#novedades #contenedor_novedades .titulo {
  width: 90%;
  text-align: center;
  margin: 64px 0 36px 5%;
  color: #FFF;
}

#novedades #contenedor_novedades .button {
  width: 90%;
  margin-left: 5%;
  padding: 13px 0;
  margin-bottom: 67px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  #novedades #contenedor_novedades .titulo {
    margin: 84px 0 56px 5%;
  }
}

@media screen and (min-width: 992px) {
  #novedades {
    height: 518px;
  }
  #novedades .skew {
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
  #novedades #contenedor_novedades .titulo {
    margin: 213px auto 36px auto;
    white-space: nowrap;
  }
  #novedades #contenedor_novedades .button {
    display: block;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 16px 0;
  }
}

#footer .parrafo {
  margin: 24px 0 16px 0;
  text-align: center;
  font-size: 0.875rem;
}

#footer #icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 14.1% 31px 14.1%;
}

#footer #icons .fab {
  color: #060A24;
  font-size: 1rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 992px) {
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .parrafo, #footer #icons {
    margin: 36px 0 31px 0;
  }
  #footer .parrafo {
    margin-left: 6.9%;
    font-size: 1rem;
  }
  #footer #icons {
    margin-right: 6.9%;
    width: 16.5%;
  }
  #footer #icons .fab {
    font-size: 1.125rem;
  }
}

/*
.contenedor_hamburguesa {
    display: flex;
    flex-direction: column;
    // width: 18px;
    // height: 12px;

    .span_hamburguesa {
        background-color: #000;
        width: 18px;
        height: 2px;
        display: block;
    }

    .span_hamburguesa:nth-of-type(1){
        margin-bottom: 3px;
    }
    
    .span_hamburguesa:nth-of-type(3){
        margin-top: 3px;
    }
    
}
*/
/*# sourceMappingURL=style.css.map */